/* BlogSection.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
.blog-div {
  background-color: #f7f8fb;
  padding-top: 10rem;
}
.blog-section {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  background-color: #f7f8fb;
}

.blog-featured {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.blog-featured-text {
  flex: 1;
  color: #000000;
}

.blog-featured-img {
  width: 50%;
  border-radius: 1rem;
  object-fit: cover;
  height: 300px;
}

.blog-badge {
  background-color: #51b64d4e;
  color: #50b64d;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.blog-featured-text h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.blog-featured-text p {
  font-size: 1rem;
  color: #2c2c2c;
  margin-bottom: 0.5rem;
}

.blog-meta {
  font-size: 0.875rem;
  color: #4c4b4b;
  margin-bottom: 1rem;
}

.blog-read-more {
  background-color: #50b64d;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blog-read-more:hover {
  background-color: #135510;
}

.blog-latest-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 3rem;
  color: #000000;
}

.blog-articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.blog-article-card {
  border-radius: 1rem;
  transition: transform 0.3s ease;
}
.blog-article-content-card {
  background-color: #eaeaea;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}


.blog-article-card:hover {
  transform: translateY(-5px);
}

.blog-tag {
  background-color: #50b64d;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.3rem 0.75rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.blog-article-card h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

.blog-read-more-small {
  font-size: 0.85rem;
  color: #50b64d;
  text-decoration: none;
  font-weight: 500;
}

.blog-read-more-small:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .blog-featured {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .blog-featured-img {
    width: 100%;
  }
  .blog-featured {
    flex-direction: column-reverse;
  }
}
.middle-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.blog-image-wrapper {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 15px;
}

.blog-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.blog-article-card:hover .blog-image-wrapper img {
  transform: scale(1.05);
}