.icons-hovers{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    /* background-color: white; */
    padding: 0.5rem;
    right: 10px;
    z-index: 2000000000;
    /* box-shadow: 0 25px 60px rgba(0, 0, 0, 0.12); */
}
.icons-hovers  a {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    color: #50b64d;
}